#sangdan {
  display: flex;
  justify-content: center;
}

/* /* body {
  background-color: red;
} */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* 버튼 측면의 값 올리고 내리는 요소 없애는 코드. 출처: https://web-atelier.tistory.com/16 [웹아틀리에 - Web atelier] */

tr,
td,
table {
  border: 1px solid black;
  border-collapse: collapse; /* 표의 테두리와 셀의 테두리 사이 간격을 없앰 */
  width: 150px;
  height: 30px;
  text-align: center;
}

.bookshelf {
  display: flex;
}
.book_unit {
  font-size: 12px;
  padding: 20px;
  margin: 20px;
  border: 1px solid gray;
  border-collapse: collapse; /* 표의 테두리와 셀의 테두리 사이 간격을 없앰 */
  width: 180px;
  height: 60px;
  text-align: center;
}

.book_img {
  width: 100px;
  height: 140px;
  display: inline;
}
